@mixin text($fs, $fw, $color, $lh) {
    font: {
        size: $fs;
        weight: $fw;
    }

    color: $color  !important;
    line-height: $lh;
<<<<<<< HEAD
}
@mixin wh($width,$height){
    width: $width;
    height: $height;
}
@mixin borbot($width){
    content: '';
    display: block;
    position: absolute;
    width: $width;
    height: 1px;
    left: 6px;
    top: 40px;
    background: $color7 !important;
    border: 1px solid $color1;
=======
>>>>>>> origin
}