$fs1: 16px;
$fs2: 20px;
$fs3: 24px;
$fs4: 30px;
$fs5: 40px;

$fw1: 100;
$fw2: 200;
$fw3: 300;
$fw4: 400;
$fw5: 500;
$fw6: 600;
$fw7: 700;
$fw8: 800;
$fw9: 900;

$color1: #000000;
$color2: rgba(0, 0, 0, 0.7);
$color3: #FFFFFF;
$color4: #FFFCFC;
$color5: #F7F7F7;
$color6: #CBC9C9;
$color7: #030303;
$color8: #F8B653;
$color9: #DEDDDC;
$color10: #E1B067;

$lh1: 24.2px;
$lh2: 19px;
$lh3: 36px;
$lh4: 48.41px;
$lh5: 29px;
$lh6: 64px;