.product {
    padding-top: 46px;

    .title {
        text-align: center;
        padding-bottom: 81px;

        p {
            @include text ($fs1, $fw2, $color1, $lh4);
        }
    }



    .card {
        img {
            width: 100%;
            padding: 45px 57px 10px 57px;
        }

        .card-body {
            h5 {
                @include text ($fs3, $fw3, $color1, $lh5);
                margin-bottom: 8px;
            }

            p {
                @include text ($fs2, $fw3, $color6, $lh1);
            }

            padding-bottom: 13px;
        }

        .card-footer {
            border: none;

            .left {
<<<<<<< HEAD
                
                a {
                    @include text ($fs1, $fw2, $color1, $lh6);
                    text-decoration: none;
                    transition: all 1s;
                    
                }
                &:hover{
                    a{@include text ($fs2, $fw2, $color1, $lh6);}
=======
                a {
                    @include text ($fs1, $fw2, $color1, $lh6);
                    text-decoration: none;
>>>>>>> origin
                }

                width: 53%;
                text-align: center;
                height: 64px;
                background-color: $color10;
            }

            .right {
                p {
                    @include text ($fs1, $fw6, $color1, $lh6);
                    margin-bottom: 0;
                }

                width: 47%;
                text-align: center;
                height: 64px;
                background-color: $color9;
            }

        }
    }
}